.buttons {
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px rgba(1, 1, 1, 0.75);
  display: flex;
  margin-top: 5px;
  padding: 10px;
  width: 300px;
}

.correct {
  border: 3px solid rgb(6, 240, 15);
}

.incorrect {
  border: 3px solid red;
}
